
$colorDark: #222;
$colorLight: #fff;
$mainColor: red;
$duration: 3s;

@if $mainColor == green {
    $mainColor: lime;
}

body {
    background: radial-gradient(lighten($colorDark,20%), $colorDark);
    background-size: 100vw 100vh;
    
}

.fan {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 2.5em;
        // border: 1px red solid;
        width: 40em;
        height: 3em;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform-origin: 90%;
        border-radius: 1em 60% 60% 1em;
        transition: $duration;
        &::before {
            content: "";
            display: block;
            background-color: $colorDark;
            width: 1em;
            height: 1em;
            position: absolute;
            right: 10%;
            top: calc( 50% - 0.5em );
            border-radius: 100%;
        }


        @for $n from 1 through 13{
        &:nth-child(#{$n}) {
            background-color: lighten( 

            darken($mainColor,40%),
            3% * $n

            );
            transform: rotate(0deg);
            box-shadow: 0 0 0.5em 0.25em lighten($colorDark, 0.25em * $n);
            color: darken($colorLight,39%), - 5% * $n;
        
        }
    }
}
    &:hover li{
        @for $n from 1 through 13{
        &:nth-child(#{$n}) {
          
            transform: rotate(105deg - $n * 15deg);
        }
           
    }


    h2, p {
        margin: 0;
        color: $colorLight;
    }
}


    }

        
        
    
