
$colorDark: #222;
$colorLight: green;
$size: 100px;

body {
    background-color: $colorDark;
}
button {
    background-image: linear-gradient(darken($colorLight,7%), lighten($colorLight,60%), darken($colorLight,7%));
    width: $size;
    height: $size;
    border-radius: 100%;
    color: lighten($colorDark, 100%);
    border: $size / 30 darken($colorLight,7%) solid;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 $size / 20 $size / 100 darken($colorDark,7%);
    text-shadow: 0px 0px $size / 100 darken($colorLight,7%);
    font-size: $size / 6;

    button:hover {
        box-shadow: 0 0 $size / 100 $size / 100 darken($colorDark,7%);
    background-image: linear-gradient(lighten($colorLight,60%), darken($colorLight,7%), lighten($colorLight,60%));
    border-color: $colorLight;
    }

    

      

}

button:active {
    border: 6px solid #DFFF00;
    animation: rotate 5s infinite linear;
    color: #DE3163;   

   } 


   @keyframes rotate {
       0% {
           transform: translate(0% ) rotate(0);
       }
       50% {
           transform: translate(0%) rotate(180deg);
       }
       100% {
           transform: translate(0% ) rotate(360deg);
       }
   }
