$flakeLayerColor: #234;
$flakeColor: #fffe;
$flakeSize: 10px;
$fallDuration: 10s;

body {
     // overflow: hidden;
    background-color: $flakeLayerColor;
}

.flake-layer {
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    width: 100%;
    height: 100vh;

    .flake {
        background-color: $flakeColor;
        border-radius: $flakeSize;
        position: fixed;
        top: -$flakeSize;
        animation: fall $fallDuration linear infinite;

        @keyframes fall {
            from{ top: -$flakeSize;}
            to{top: 100%;}
        }
        @for $n from 1 through 100{
        &:nth-child(#{$n}){
            left: 1% * random(100);
            animation-delay: $fallDuration * random();

            $sizeK: 0.1 + random();
            animation-duration: $fallDuration * 1 / $sizeK;

            width: $flakeSize * $sizeK;
            height: $flakeSize * $sizeK;
            }
        }
    }
}